body {
    
    background: rgb(215, 197, 197);
    position: relative;
    height:  100vh;;
}

.item .table{
    display: none;
    width: 50%;
     
    /* width: 200px;
    height: 200px;  
    background: coral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px; 
    margin: 0; */
}

.item.active .table{
    display: block;
    position: relative;
}
.item.active .item#item-2 button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 20px;
    cursor: pointer;
}