img{
    max-width: 100%;
}

.container{
    width:1000px;
    float: left;
    background: linear-gradient(to right,rgb(175, 204, 204) 30%,rgb(205, 230, 203)30%);
    
}
body{
    font-family:Roboto;
    font-size: small;
    font-weight: 200px;
    background-color: rgb(198, 230, 230);
    box-sizing: border-box;
    /* background-size: cover; */

}
.a{
    width: calc(30% - 40px);
    margin: 30px;
    float:left;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.3;
    
}
.b{
    float: left;
    width: calc(70% - 75px);
    margin-left: 20px;
    padding:10px 15px 15px 15px;
    box-sizing: border-box;
}